h1{
    text-align: center;
    color: whitesmoke

}

.heading{
   
     margin-top: 150px;
    margin-right: 150px;
    margin-bottom: 150px;
    margin-left: 160px; 

   
     border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: dashed;
    border-left-style: groove; 

    

     border-top-color: greenyellow;
    border-right-color: blue;
    border-bottom-color: green; 
    border-left-color: brown; 

     border-top-width: 25px;
    border-bottom-width: 25px;
    border-right-width: 20px;
    border-left-width: 20px; 

     padding-top:150px;
    padding-right: 100px;
    padding-bottom: 150px;
    padding-left: 80px; 
    
}

#main-container{
    
     color: whitesmoke;
     /*background-image: linear-gradient(45deg, yellow, palevioletred, black, red, green); */
     background-image: radial-gradient(circle,black,gray);
}
