*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item{

    height: 50px;
    width: 50px;
    background-color: gold;
    text-align: center;
    margin: 5px;
    font-size: 15px;
    color: black;
       
}

 .item:nth-child(4){ 
    height: 200px;
    width: 200px;
    background-color: red;
    } 

#container{
    display: flex;
    height: 100vh;
     flex-direction:  column; 
     justify-content: space-between; 
     align-items: end; 
     flex-wrap: wrap;
     align-content: end; 

}

.container {
    display: flex;
    flex-direction: row-reverse;
    align-items: end;
  }
  
  .content {
    margin: 20px;
    padding: 20px;
    border: 3px solid #ccc;
    text-align: center;
  }
  
  img {
    width: 100%; 
    margin-bottom: 10px;
  }
