body {  
    margin: 0;  
    padding: 0;  
}  
  
.grid-container {  
    display: grid;  
    grid-template-columns:repeat(3, 100px);/* 3 columns with 100px width each */ 
    grid-template-rows: :repeat(3, 100px);/* 3 rows with 100px height each */  
    gap: 10px;/* Gap between grid items */   
    align-items: center;/* Center the grid vertically */  
    justify-content: center;/* Center the grid horizontally */
    background-color: blue;  
}  
.grid-item {  
background-color: lightgray;  
border: 5px solid black;  
padding: 20px;  
font-size: 30px;  
text-align: center;  
}  
